a(href='/contact') contact
a(href!=static) static
a(href='/save',class="a",static!="prueba"_).button save
a(foo, bar, baz)
a(foo='foo, bar, baz', bar=1)
a(foo='((foo))', bar= (1 if 1 else 0 ))
select
  option(value='foo', selected) Foo
  option(selected, value='bar') Bar
  option(selected, value=missing) Qaz
