
- if 1
  p foo
- else
  p bar

- if 1
  p foo
- elif 2
  p a
- else
  p bar

if 1
  p foo
  p bar
  p baz
else
  p bar

unless 1
  p foo
else
  p bar
if 1
  a hello
if 'nested'
  if 'works'
    p yay